@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue.ttc') format('opentype');
   
  }



html, body {
  width: 1920px
    height: 100%;
    /* overflow: hidden; */
    padding: 0rem 0.5rem;
    margin: 0%;
    background-color: rgb(255, 255, 255);

    
  }

  h1{
    font-family: 'Helvetica Neue';
       font-weight: 20;
       font-size: 8rem; 
  }

  #main-title{
    font-size: 60px; 
  }

  h2{
    font-family: 'Helvetica Neue';
   
    font-size: 3rem; 
  color: inherit;
   -webkit-text-fill-color:  inherit; 
   padding: 0rem 2rem;
   margin: 0%;


  }

  h4{
    font-family: 'Helvetica Neue';
  
        font-style: normal;
         font-size: 1.5vw;
         font-weight: 800;
         padding-bottom:0vw;
       margin:0vw;
       transition:0.5s ;
       line-height: 2.5vw;
        color:inherit;
  }
   
  .formula-alt{
    font-feature-settings: 'ss01';
    -moz-font-feature-settings: 'ss01';
    -webkit-font-feature-settings: 'ss01';
    padding: 0%;
    margin: 0%;
  }

  .title-box{
    
    margin: 2rem;
    /* background-color:white; */
    height: 90vh;
    position: relative;
    top: 2.5%;
    background-color: rgba(245,245,245,1);
    opacity: 1;
    background-image: radial-gradient(#000 1.3px, rgba(245,245,245,1) 1.3px);
    background-size: 18px 18px;
  }

  .title-text{
    
     position:absolute;
    bottom:0%;
    left:0%
  }

  .navbar {
  /* overflow: hidden; */
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  /* width: 100%;  */
  z-index: 2;
  background-color: whitesmoke;
  border:3px solid #000;
  border-radius: 40px;

  margin: 2rem;
}

.navbar a {
    float: left;
    display: block;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Neue Montreal';
        font-style: normal;
         font-weight: 800;
        
       margin:0.6rem 1.2rem;
       transition:0.5s ;
       line-height: 2.5vw;
        color:#27df34;
  }

.navbar a:hover {
    background: #ddd;
    color: black;
  }


p{
    
   
    text-decoration: none;
    font-size: 1.3rem;
    font-family: 'Neue Montreal';
        font-style: normal;
      
        
       margin:0.6rem 1.2rem;
       
       line-height: 2.3vw;
        color: inherit;
        
}

hr{
    border-top:1px solid #000;
    margin-left: -20%;
    margin-right: -20%;

}


.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 3rem;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    grid-area: 3rem;
  }


  .green-class{
    color: #000;
  }

  .blue-class{
    color: #000;
  }

  img{
    margin: 0;
    padding: 0;
    width: 100%;
    height: flex;
    display:inline-flex;
   border-radius: 5px;
  
  }


.collapsible {
    background-color: whitesmoke;
    color: inherit;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;

    background-color: whitesmoke;
  border:3px solid #056CF2;
  border-radius: 40px;

  margin-bottom: 0.2rem;

  font-size: 1.2rem;
  font-family: 'Neue Montreal';
      font-style: normal;
       font-weight: 800;
      
     transition:0.5s ;
    
  }
  
  .active, .collapsible:hover {
    background-color: whitesmoke;
    border:3px solid #27df34;
    color: #27df34;
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: whitesmoke;
    color: #27df34;

  }